<mat-card>
    <mat-spinner *ngIf="isLoading"> </mat-spinner>
    <form (submit)="signUp(signUpForm, $event)" *ngIf="!isLoading" #signUpForm="ngForm">
        <mat-form-field>
            <mat-error *ngIf="emailInput.touched && emailInput.invalid">
                Please enter a valid email.
            </mat-error>
            <input type="email" matInput ngModel #emailInput="ngModel" name="email" placeholder="Email" email required />
        </mat-form-field>
        <mat-form-field>
            <mat-error *ngIf="passwordInput.touched && passwordInput.invalid">
                Please enter a valid Password.</mat-error>
            <input type="password" matInput ngModel #passwordInput="ngModel" name="password" placeholder="Password" required />
        </mat-form-field>
        <mat-form-field>
            <mat-error *ngIf="confirmPasswordInput.touched && confirmPasswordInput.invalid">
                Please enter a valid Password.
            </mat-error>
            <input type="password" matInput ngModel #confirmPasswordInput="ngModel" name="confirmPassword" placeholder="Confirm Password" required />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">
      Sign Up
    </button>
        <button mat-stroked-button color="accent" type="reset">Reset</button>
    </form>
</mat-card>
