main {
    margin: auto;
    margin-top: 3rem;
}

@media only screen and (max-width: 452px) {
    main {
        margin-top: 2rem;
        width: 100%;
    }
}

@media only screen and (min-width: 453px) and (max-width: 768px) {
    main {
        width: 80%;
    }
}

@media only screen and (min-width: 769px) {
    main {
        width: 60%;
    }
}
